# Enable Bzlmod for every Bazel command
common --enable_bzlmod

## BUILD

build --macos_minimum_os=15
build --host_macos_minimum_os=13

# Enable indexing while building.
build --features swift.use_global_index_store
build --features swift.index_while_building

# Since there's no way to set the deployment version for swift_{binary,test},
# this forces all targets' minimum macOS to Github Actions macOS version.
build --macos_minimum_os=12.6

## TEST

# `bazel test` tries to build everything also by default, so skip that so the
# *_library targets in examples/... aren't built (and fail since they are
# platform specific).
test --build_tests_only

# Show detailed errors for test failures
test --test_output=errors

# Use llvm-cov instead of gcov (default).
coverage --experimental_use_llvm_covmap